body{
  background-color: #828788;
}

.loadPage{
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  top: 50%;
  animation: loadPageAnimation 5s infinite ease;
}

@keyframes loadPageAnimation{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(180deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
